@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat;
  font-family: 500;
}

.btn {
  @apply bg-gray-800/50  rounded-md text-sm p-2 flex items-center space-x-2 transition-all duration-200 hover:bg-gray-700/40 hover:animate-pulse shadow-xl;
}

.MuiSvgIcon-root {
  font-size: 20px;
  color: #3ccf91;
}

.point {
  color: #3ccf91;
}

.point:hover {
  @apply animate-pulse;
}

.dot {
  @apply relative;
}

.dot::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -19px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(136, 133, 133);
}

.input {
  @apply bg-transparent border-none outline-none w-full h-full;
}

.search {
  @apply border border-gray-500/60 max-w-[450px] h-[45px] rounded-md shadow-xl px-3 bg-gray-900/20 flex items-center;
}

.top {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.menu{
  display: none;
}

@media (max-width: 640px) {
  .mini {
    background: rgb(15, 15, 15);
    height: 100vh;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -50rem;
    transition: 0.4s;
    z-index: 1100;
  }

  .mini_show {
    left: 0;
    transition: 0.4s;
  }

  .mini li {
    margin: 15px 0;
  }

  .menu {
    font-size: 30px;
    display: block;
  }
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.256);
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}

.layer_show {
  display: block;
}




section{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #111;
}

section .text{
  position: relative;
  transform: skewY(345deg) translateY(-200px);
  animation: animationColor 5s linear infinite;
  user-select: none;
}

section .text h1{
  position: relative;
  color: #fff;
  pointer-events: none;
  font-size: 8em;
  width: 100%;
  font-weight:bold;
  line-height: 1em;
  white-space: nowrap;
  text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
  transform: translateX(calc(0% - var(--x)* var(--i)));
}

section .text h1 span{
  color: #f0f;
  margin: 0 10px;
}

section .text h1 span:nth-child(even){
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

  
  @keyframes animationColor {
  0%{
    filter: hue-rotate(0deg);
  }

  100%{
    filter: hue-rotate(300deg);
  }
}

@media (max-width:750px) {
  section .text{
  transform: skewY(345deg) translateY(-50px);
  }
  section .text h1{
    font-size: 5.5em;
  }
}