@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  font-family: 500;
  background-color: #0d1117;
}

::-webkit-scrollbar {
  display: none;
}

.MuiSvgIcon-root {
  font-size: 20px;
  color: #3ccf91;
}

.point {
  color: #3ccf91;
}

.point:hover {
  @apply animate-pulse;
}

.input {
  @apply bg-transparent border-none outline-none w-full h-full text-gray-700;
}

.search {
  @apply border border-gray-500  max-w-[450px] h-[45px] rounded-md px-3 flex items-center;
}

.top {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 769px) {
  .mini {
    z-index: 1100 !important;
    position: absolute;
    top: -100rem;
    left: 0px;
    background: rgba(0, 0, 0, 0.803);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: 0.4s;
  }

  .mini-show {
    top: 0;
    transition: 0.4s;
  }

}



.input-form {
  @apply border border-[#090c10] bg-[#090c10]  outline-none py-[12px] pl-3 text-white max-w-full
  focus:border-green-400 rounded-md;
}

.message {
  @apply max-w-7xl;
}

.menu-btn {
  @apply cursor-pointer text-white rounded-md shadow-sm bg-green-500 w-[40px] h-[40px] p-1 transition-all duration-200;
}

